In [2]:
import pandas as pd
import numpy as np

x = pd.read_csv("imdb-1.csv", encoding = 'unicode_escape', engine ='python')

print(x)

     ï»¿Votes  Rating                                  Title  Year  Decade
0       88355     8.4                                      M  1931    1930
1      132823     8.3                    Singin' in the Rain  1952    1950
2       74178     8.3                          All About Eve  1950    1950
3      635139     8.6                                  LÃ©on  1994    1990
4      145514     8.2                       The Elephant Man  1980    1980
..        ...     ...                                    ...   ...     ...
245   1078416     8.7                           Forrest Gump  1994    1990
246     31003     8.1                  Le salaire de la peur  1953    1950
247    167076     8.2                               3 Idiots  2009    2000
248     91689     8.1                                Network  1976    1970
249    589477     8.3  Eternal Sunshine of the Spotless Mind  2004    2000

[250 rows x 5 columns]

Sorts the list by the Rating column. Takes the first values as highest rated.

In [11]:
sort_Ratings = x.sort_values(by='Rating', ascending = False)
print("The highest rated movie is: ", sort_Ratings.iloc[0]['Title'])
print('\n',sort_Ratings.iloc[0])

The highest rated movie is:  The Godfather

 ï»¿Votes          1027398
Rating                9.2
Title       The Godfather
Year                 1972
Decade               1970
Name: 22, dtype: object

Sort the table now by year of release

In [14]:
sort_Year = x.sort_values(by='Year' , ascending = True)
earliest_movie = sort_Year.iloc[0]
print("The earliest movie released is: ",earliest_movie['Title'])
print(earliest_movie)

The earliest movie released is:  The Kid
ï»¿Votes      55784
Rating          8.3
Title       The Kid
Year           1921
Decade         1920
Name: 173, dtype: object

sort by rating and print the top 20
[0:20] handles the first 20 when orgnized by rating

In [25]:
print(sort_Ratings.iloc[0:20][['Title','Rating']]) #[[]] double brackets necessary to get two columns

     Rating                                              Title
22      9.2                                      The Godfather
53      9.2                           The Shawshank Redemption
91      9.0                             The Godfather: Part II
105     8.9                                       12 Angry Men
57      8.9             Il buono, il brutto, il cattivo (1966)
76      8.9                                    The Dark Knight
147     8.9                                   Schindler's List
141     8.9      The Lord of the Rings: The Return of the King
224     8.9                                       Pulp Fiction
178     8.8  The Lord of the Rings: The Fellowship of the Ring
87      8.8                                         Fight Club
129     8.7                                         The Matrix
68      8.7              The Lord of the Rings: The Two Towers
156     8.7     Star Wars: Episode V - The Empire Strikes Back
189     8.7                                          Star Wars
223     8.7                    One Flew Over the Cuckoo's Nest
81      8.7                                          Inception
103     8.7                                         Goodfellas
98      8.7                               Shichinin no samurai
245     8.7                                       Forrest Gump

Find the average rating of movies

In [33]:
Rating_Sum = x['Rating'].sum()
print("The average rating of the movies is: ", Rating_Sum/len(sort_Ratings))

The average rating of the movies is:  8.265600000000001

In [39]:
#filter movies only made in 1940's

movie1940 = x.query("Decade == 1940")

average1940 = movie1940['Rating'].sum()/len(movie1940)

print("The Average rating of movie from the 1940's : ",average1940)

The Average rating of movie from the 1940's :  8.257142857142856

In [40]:
ninety_nine = x.query("Year == 1999")
print(ninety_nine)

     ï»¿Votes  Rating            Title  Year  Decade
87    1177098     8.8       Fight Club  1999    1990
104    735056     8.4  American Beauty  1999    1990
115    630994     8.1  The Sixth Sense  1999    1990
129   1073043     8.7       The Matrix  1999    1990
149    672878     8.5   The Green Mile  1999    1990

In [45]:
really_highly_rated = x.query("Rating > 8.5")
print(really_highly_rated.sort_values(by='Rating', ascending = True))

     ï»¿Votes  Rating                                              Title  \
3      635139     8.6                                              LÃ©on
47     767224     8.6                           The Silence of the Lambs
213    242353     8.6                              It's a Wonderful Life
204    358305     8.6                                   La vita Ã¨ bella
70     689541     8.6                                       Interstellar
169    895411     8.6                                              Se7en
78     192206     8.6                            C'era una volta il West
242    476501     8.6                                     Cidade de Deus
96     656756     8.6                                 The Usual Suspects
223    606395     8.7                    One Flew Over the Cuckoo's Nest
189    770011     8.7                                          Star Wars
156    700283     8.7     Star Wars: Episode V - The Empire Strikes Back
129   1073043     8.7                                         The Matrix
103    644556     8.7                                         Goodfellas
81    1271949     8.7                                          Inception
68     967389     8.7              The Lord of the Rings: The Two Towers
98     206216     8.7                               Shichinin no samurai
245   1078416     8.7                                       Forrest Gump
87    1177098     8.8                                         Fight Club
178   1099087     8.8  The Lord of the Rings: The Fellowship of the Ring
105    384187     8.9                                       12 Angry Men
141   1074146     8.9      The Lord of the Rings: The Return of the King
147    761224     8.9                                   Schindler's List
76    1473049     8.9                                    The Dark Knight
57     447875     8.9             Il buono, il brutto, il cattivo (1966)
224   1166532     8.9                                       Pulp Fiction
91     692753     9.0                             The Godfather: Part II
53    1498733     9.2                           The Shawshank Redemption
22    1027398     9.2                                      The Godfather

     Year  Decade
3    1994    1990
47   1991    1990
213  1946    1940
204  1997    1990
70   2014    2010
169  1995    1990
78   1968    1960
242  2002    2000
96   1995    1990
223  1975    1970
189  1977    1970
156  1980    1980
129  1999    1990
103  1990    1990
81   2010    2010
68   2002    2000
98   1954    1950
245  1994    1990
87   1999    1990
178  2001    2000
105  1957    1950
141  2003    2000
147  1993    1990
76   2008    2000
57   1966    1960
224  1994    1990
91   1974    1970
53   1994    1990
22   1972    1970

To find the average movie pf 20th century and 21st centry we need to create a table for movies before the year 2000 and a table for movie made in the year 2000 and after

In [47]:
twenty_first = x.query("Year >= 2000")
twenty = x.query("Year < 2000")
print(twenty_first)
print(twenty)

     ï»¿Votes  Rating                                  Title  Year  Decade
6      441174     8.1                              Gone Girl  2014    2010
7      850601     8.3                          Batman Begins  2005    2000
9       46987     8.0                       Relatos salvajes  2014    2010
11     502773     8.2                            Gran Torino  2008    2000
13     755013     8.3                   Inglourious Basterds  2009    2000
..        ...     ...                                    ...   ...     ...
234    311070     8.4                               Oldeuboi  2003    2000
239    424957     8.1                    Million Dollar Baby  2004    2000
242    476501     8.6                         Cidade de Deus  2002    2000
247    167076     8.2                               3 Idiots  2009    2000
249    589477     8.3  Eternal Sunshine of the Spotless Mind  2004    2000

[79 rows x 5 columns]
     ï»¿Votes  Rating                  Title  Year  Decade
0       88355     8.4                      M  1931    1930
1      132823     8.3    Singin' in the Rain  1952    1950
2       74178     8.3          All About Eve  1950    1950
3      635139     8.6                  LÃ©on  1994    1990
4      145514     8.2       The Elephant Man  1980    1980
..        ...     ...                    ...   ...     ...
243    268905     8.4           Citizen Kane  1941    1940
244     69988     8.1                    8Â½  1963    1960
245   1078416     8.7           Forrest Gump  1994    1990
246     31003     8.1  Le salaire de la peur  1953    1950
248     91689     8.1                Network  1976    1970

[171 rows x 5 columns]

In [49]:
Average_20th =twenty["Rating"].sum()/len(twenty)
Average_21st = twenty_first["Rating"].sum()/len(twenty_first)

print("The average rating of movies from the 20th century: ", Average_20th)
print("The average rating of movies from the 21st century: ", Average_21st)

The average rating of movies from the 20th century:  8.278362573099415
The average rating of movies from the 21st century:  8.237974683544303

In [53]:
percent_20th = len(twenty)/len(x)
print("20th century movies make up: ",str(percent_20th *100) + "%", "of the total movies")

percent_21st = len(twenty_first)/len(x)
print("21st century movies make up: ",str(percent_21st *100) + "%", "of the total movies")

20th century movies make up:  68.4% of the total movies
21st century movies make up:  31.6% of the total movies